@font-face{
    font-family: "seven";
    /*フォントの読出し*/
    src: url('font/DSEG14Classic-BoldItalic.woff') format('woff') ;
}

body{
    text-align: center; /*横center*/
    font-family: 'seven','Courier New','cursive';
    background-color: rgb(250, 244, 244);
}

h1{
    font-family: "MS 明朝";
}

h2{
    color: rgb(64, 12, 250);
    font-size: 80px;
}
#timer{
    color: rgb(250, 12, 32);
    font-size: 200px;
    padding: 50px;
}

.copy a{
    color: gray;
    font-size: 8px;
}

.copy a{
    color: gray;
    font-size: 8px;
}

table {
    table-layout: fixed;
    background-color: mediumaquamarine;
    margin: auto;
    border-collapse: collapse;
    width: 600px;
    border: 5px;
    border-color: black;
    padding: 10px;
    margin-top: 5px;
}

.data1{
    color: rgb(5, 1, 21);
    font-size: 30px;
    padding: 10px;
    border: 5px;
    border-color: black;

}
.data2{
    color: rgb(250, 12, 12);
    font-size: 40px;
    padding: 10px;
    border: 5px;
    border-color: black;

}

#btn {
    width: 200px;
    height: 40px;
    line-height: 40px;
    background: rgb(255, 136, 0);
    color: rgb(5, 123, 50);
    font-size: 24px;
    user-select: none;
    cursor: pointer;
    margin: auto;
    border-radius: 5px;
    font-family: "MS 明朝";
    font-weight: bold;
}